<div class="container" *ngVar="(communityRD$ | async) as communityRD">
  <div class="community-page" *ngIf="communityRD?.hasSucceeded" @fadeInOut>
    <div *ngIf="communityRD?.payload; let communityPayload">
      <!-- Community name -->
      <ds-comcol-page-header [name]="communityPayload.name"></ds-comcol-page-header>
      <div class="row">
        <div class="col-12 col-md-9">
          <!-- Community logo -->
          <ds-comcol-page-logo *ngIf="logoRD$" [logo]="(logoRD$ | async)?.payload" [alternateText]="'Community Logo'">
          </ds-comcol-page-logo>
          <!-- Introductory text -->
          <ds-comcol-page-content [content]="communityPayload.introductoryText" [hasInnerHtml]="true">
          </ds-comcol-page-content>

          <!-- News -->
          <ds-comcol-page-content [content]="communityPayload.sidebarText" [hasInnerHtml]="true" [title]="'community.page.news'">
          </ds-comcol-page-content>

          <!-- Browse By  -->
          <div class="sidebar-item">
            <ds-comcol-page-browse-by [id]="communityPayload.id"></ds-comcol-page-browse-by>
          </div>


          <ds-community-page-sub-community-list [community]="communityPayload"></ds-community-page-sub-community-list>
          <ds-community-page-sub-collection-list [community]="communityPayload"></ds-community-page-sub-collection-list>
        </div>
        <div class="col-3 ">
          <div class="sidebar-content">
            <!-- Search box -->
            <div class="sidebar-item-search">
              <div class="input-group" style="margin-top:20px; max-width: 500px">
                <input type="text" class="form-control" placeholder="Search this community">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="fas fa-search fa-lg fa-fw"></i>
                  </button>
                </div>
              </div>
            </div>


            <div class="recent-submissions">
              <h3>Recent Submissions</h3>
              <article class="item"><a href="#">VLIR UOS CO2 compensation project (scientific support to Bos+)</a></article>
              <article  class="item"><a href="#">BOF PhD Scholarship of Francis Mumbanza Mundondo</a></article>
              <article class="item"><a href="#">CEBA LabEx CEBA scientific project DROUGHT</a></article>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- Handle URL -->
      <div class="handle"> Permanent Handle URI: <a href="#">http://localhost:8080/dspace7/handle/123456789/147</a>
      </div>
      <!-- Copyright -->
      <ds-comcol-page-content [content]="communityPayload.copyrightText" [hasInnerHtml]="true">
      </ds-comcol-page-content>
    </div>
  </div>
  <ds-error *ngIf="communityRD?.hasFailed" message="{{'error.community' | translate}}"></ds-error>
  <ds-loading *ngIf="communityRD?.isLoading" message="{{'loading.community' | translate}}"></ds-loading>
</div>
