.nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}
.nav-link.active {
  border: none;
  border-bottom: 3px solid black;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border: none;
  border-bottom: 3px solid rgb(3, 42, 219);
}
